@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
    <link href="~/bootstrapAdmin/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/bootstrapAdmin/css/simple-sidebar.css" rel="stylesheet">
}


@using Term_Project_View.Models
@model System.Collections.Generic.List<Contact>

<html>
<body>
   
   
    <div id="wrapper">
        <div class="row"></div>
        <!-- Page Content -->

        <div class="row" style="padding-top: 40px">
            <div class="col-xs-3" style="padding-left:40px">

                <div class="panel panel-success">
                    <div class="panel-heading">
                        Users Managment
                    </div>
                    <div class="panel-body">
                        <a href="@Url.Content("~/Admin/UserDetail")">View All Users</a> <br />
                        <a href="@Url.Content("~/Admin/AdminCartView")">View Users Cart</a> <br />
                    </div>

                </div>
            </div>

            <div class="col-xs-3">

                <div class="panel panel-success">
                    <div class="panel-heading">
                        Items Managment
                    </div>
                    <div class="panel-body">
                        <a href="@Url.Content("~/Admin/AddProducts")">Add Item</a> <br />
                        <a href="@Url.Content("~/Admin/AllProducts")">View All Item</a> <br />
                    </div>
                </div>
            </div>


            <!-- /#page-content-wrapper -->
        </div>

        <div class="row"></div>
        <div class="col-xs-8">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    User Messages
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Sr. No</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Messages</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                           @foreach(Contact i in Model)
                           { 
                            <tr>
                                <td>@i.contactID</td>
                                <td>@i.Name</td>
                                <td>@i.CEmail</td>
                                <td>@i.Message</td>
                            </tr>
                               
                           }

                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
    
</body>
</html>